
{% extends 'base.html' %}
{% block site_title %}List User {% endblock %}
{% block site_menu %}
<li class="submenu">
  <a href="/listuser"><i class="glyphicon glyphicon-list-alt"></i>Member</a>
  <ul>
     <li><a href="/regisuser">Tambah Member</a></li>
 </ul>
</li>
{% endblock %}
{% block content %}
      <div class="panel-title">{% block panel_title %}Data User{%endblock %}</div>
      <a class="btn btn-primary btn-sm pull-right" href="/regisuser"><i class="glyphicon glyphicon-plus"></i> Tambah User</a><br><br>
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
        <thead>
          <tr>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for users in user %}
          <tr class="odd gradeX">
            <td><a href="/detailuser/{{users.id}}">{{users.email}}</a></td>
            <td>{{users.firstname}}</td>
            <td>{{users.lastname}}</td>
            <td><a class="btn btn-danger btn-sm" href="/hapususer/{{users.id}}"> <i class="glyphicon glyphicon-trash"></i> Hapus</a>
              <a class="btn btn-info btn-sm" href="/edituser/{{users.id}}"><i class="glyphicon glyphicon-pencil"></i> Edit</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>


{% endblock %}
